.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

.margin-top-lg {
    margin-top: 7em;
}

.form-wrapper {
    padding: 8em 0 8em 0;
}

.plans-form label {
    display: inline-block;
    font-size: 14px;
    width: 20em;
    border: 2px solid green;
    border-radius: 10px;
    height: 20em;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
}

.plans-form input {
    opacity: 0;
}

.account-form, .billing-form {
    padding: 0 15em 0 15em;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}